In [193]:
!pwd

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
/Users/ambuj/Downloads/Compressed/RS_assignment01

# Question-1

In [194]:
import surprise
from surprise import Dataset
from surprise import Reader

import numpy as np
import pandas as pd
import sys
import matplotlib.pyplot as plt

In [195]:
recipe_df = pd.read_csv('/Users/ambuj/Downloads/Compressed/RS_assignment01/archive/RAW_recipes.csv')
recipe_df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [196]:
recipe_df.drop(['minutes','contributor_id','submitted','n_steps','n_ingredients'], axis=1, inplace = True)
recipe_df.head()

,name,id,tags,nutrition,steps,description,ingredients
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]","['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ..."
1,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]","['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg..."
2,all in the kitchen chili,112140,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]","['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato..."
3,alouette potatoes,59389,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n..."
4,amish tomato ketchup for canning,44061,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar..."

In [197]:
recipe_df[['calories','total fat','sugar','sodium','protein','saturated fat','carbohydrates']] = recipe_df.nutrition.str.split(',', expand = True)

In [198]:
recipe_df.head()

,name,id,tags,nutrition,steps,description,ingredients,calories,total fat,sugar,sodium,protein,saturated fat,carbohydrates
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]","['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",[51.5,0.0,13.0,0.0,2.0,0.0,4.0]
1,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]","['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",[173.4,18.0,0.0,17.0,22.0,35.0,1.0]
2,all in the kitchen chili,112140,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]","['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",[269.8,22.0,32.0,48.0,39.0,27.0,5.0]
3,alouette potatoes,59389,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",[368.1,17.0,10.0,2.0,14.0,8.0,20.0]
4,amish tomato ketchup for canning,44061,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",[352.9,1.0,337.0,23.0,3.0,0.0,28.0]

In [199]:
recipe_df['calories'] = recipe_df['calories'].apply(lambda x:x.replace('[',''))
recipe_df['carbohydrates'] = recipe_df['carbohydrates'].apply(lambda x:x.replace(']',''))

In [200]:
recipe_df.head()

,name,id,tags,nutrition,steps,description,ingredients,calories,total fat,sugar,sodium,protein,saturated fat,carbohydrates
0,arriba baked winter squash mexican style,137739,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]","['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",51.5,0.0,13.0,0.0,2.0,0.0,4.0
1,a bit different breakfast pizza,31490,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]","['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",173.4,18.0,0.0,17.0,22.0,35.0,1.0
2,all in the kitchen chili,112140,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]","['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",269.8,22.0,32.0,48.0,39.0,27.0,5.0
3,alouette potatoes,59389,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",368.1,17.0,10.0,2.0,14.0,8.0,20.0
4,amish tomato ketchup for canning,44061,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",352.9,1.0,337.0,23.0,3.0,0.0,28.0

In [201]:
ui_interaction_df = pd.read_csv('/Users/ambuj/Downloads/Compressed/RS_assignment01/archive/RAW_interactions.csv')
ui_interaction_df.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

## Dataset Description

To describe the item Descriptor field, we mainly have two datasets.
1. RAW_recipes.csv
2. RAW_interactions.csv

1. RAW_recipes.csv -------> The csv holds multiple features to describe the items. such as, 'tags for recipe', 'nutrition components', 'steps to prepare the recipe', 'description to prepare the recipe'.
    We can use these features to describe the items or to create the item-feature matrix. Like for example- if we use the nutrition components as feature, then since every recipe contains 7 nutritions in different ration, we can expand them and take them as features. Similarly tags can also be used as features.
    
2. RAW_interactions.csv------> This csv contains user reviews on recipes , We can use complete review's bag of words to vectorize every single review and can use those as features.





We have used nutrition in this question as features to show item-feature matrix and we further calculated the item item correlation for 1000 items.

Although in Question-2 we have used recipe tags as features and applied PCA for dimentionality reduction.

## Creating item-nutrition matrix

In [202]:
recipe_df['name'].unique().shape

(230186,)

In [203]:
recipe_df.shape

(231637, 14)

In [204]:
type(recipe_df['calories'][0])

str

In [205]:
recipe_df[['calories','total fat','sugar','sodium','protein','saturated fat','carbohydrates']] = recipe_df[['calories','total fat','sugar','sodium','protein','saturated fat','carbohydrates']].astype('float')

In [206]:
type(recipe_df['calories'][0])

numpy.float64

In [207]:
item_feature_mat = recipe_df.pivot_table(columns='id',values=['calories','total fat','sugar','sodium','protein','saturated fat','carbohydrates'])
item_feature_mat

id,38,39,40,41,43,45,46,48,49,50,...,537323,537331,537351,537429,537458,537459,537485,537543,537671,537716
calories,170.9,1110.7,311.1,536.1,437.9,228.0,4.3,688.2,627.7,89.4,...,256.1,3630.9,312.0,333.2,390.8,220.7,52.8,1617.0,207.9,407.9
carbohydrates,12.0,28.0,27.0,21.0,19.0,12.0,0.0,28.0,4.0,4.0,...,9.0,36.0,4.0,15.0,12.0,4.0,2.0,80.0,10.0,12.0
protein,6.0,126.0,0.0,58.0,13.0,8.0,0.0,17.0,115.0,4.0,...,14.0,66.0,54.0,10.0,11.0,3.0,1.0,40.0,6.0,28.0
saturated fat,6.0,82.0,0.0,19.0,54.0,8.0,0.0,64.0,64.0,1.0,...,23.0,329.0,22.0,5.0,73.0,30.0,1.0,203.0,8.0,64.0
sodium,1.0,15.0,0.0,64.0,11.0,11.0,0.0,30.0,35.0,0.0,...,36.0,117.0,59.0,3.0,12.0,2.0,4.0,8.0,10.0,49.0
sugar,120.0,81.0,308.0,128.0,170.0,98.0,0.0,184.0,8.0,29.0,...,19.0,56.0,7.0,25.0,12.0,49.0,0.0,213.0,93.0,21.0
total fat,3.0,90.0,0.0,36.0,29.0,10.0,0.0,56.0,38.0,4.0,...,19.0,531.0,24.0,11.0,37.0,15.0,3.0,104.0,12.0,34.0

In [208]:
smaller_if_mat = item_feature_mat.iloc[:,2000:3000]

In [209]:
smaller_if_mat.shape

(7, 1000)

In [210]:
smaller_if_mat.head(10)

id,5346,5347,5348,5349,5351,5353,5354,5360,5366,5368,...,8364,8366,8368,8369,8370,8371,8374,8377,8379,8380
calories,532.2,330.2,2097.0,129.1,211.6,515.7,332.4,314.4,383.7,242.3,...,418.7,145.5,326.3,387.6,247.4,2063.8,306.5,243.3,114.4,324.0
carbohydrates,1.0,15.0,112.0,6.0,9.0,17.0,17.0,6.0,17.0,3.0,...,9.0,3.0,19.0,12.0,14.0,75.0,18.0,13.0,0.0,22.0
protein,132.0,36.0,96.0,17.0,4.0,37.0,45.0,42.0,11.0,5.0,...,27.0,25.0,8.0,27.0,7.0,71.0,12.0,13.0,1.0,10.0
saturated fat,37.0,14.0,41.0,2.0,16.0,49.0,9.0,45.0,36.0,70.0,...,30.0,9.0,29.0,58.0,11.0,85.0,4.0,12.0,7.0,5.0
sodium,15.0,27.0,49.0,4.0,5.0,46.0,7.0,26.0,17.0,14.0,...,51.0,30.0,3.0,34.0,7.0,108.0,0.0,4.0,8.0,12.0
sugar,4.0,12.0,8.0,24.0,1.0,13.0,53.0,10.0,165.0,27.0,...,56.0,7.0,111.0,9.0,103.0,87.0,10.0,4.0,3.0,164.0
total fat,40.0,11.0,90.0,7.0,16.0,40.0,6.0,25.0,26.0,35.0,...,42.0,9.0,15.0,31.0,11.0,184.0,10.0,8.0,17.0,7.0

## creating item-item correlation matrix for 1000 items

In [211]:
smaller_if_corr_mat = smaller_if_mat.corr()

In [212]:
smaller_if_corr_mat.shape

(1000, 1000)

In [213]:
smaller_if_corr_mat.head(10)

id,5346,5347,5348,5349,5351,5353,5354,5360,5366,5368,...,8364,8366,8368,8369,8370,8371,8374,8377,8379,8380
id,,,,,,,,,,,,,,,,,,,,,
5346,1.000000,0.982940,0.975663,0.967187,0.968858,0.976346,0.972034,0.985999,0.860682,0.927684,...,0.961855,0.976107,0.895673,0.972164,0.864832,0.969818,0.972456,0.976755,0.959811,0.819951
5347,0.982940,1.000000,0.996823,0.983765,0.991348,0.995960,0.987272,0.993036,0.904596,0.949314,...,0.990229,0.990697,0.935036,0.990543,0.909052,0.994014,0.995069,0.996622,0.983399,0.869562
5348,0.975663,0.996823,1.000000,0.981390,0.997111,0.996142,0.983915,0.990085,0.905854,0.955953,...,0.989030,0.979255,0.938169,0.991203,0.910291,0.997824,0.999029,0.999333,0.989063,0.869023
5349,0.967187,0.983765,0.981390,1.000000,0.972852,0.974023,0.998786,0.970465,0.955885,0.933951,...,0.985908,0.964622,0.974117,0.965055,0.961219,0.981504,0.986755,0.982145,0.966329,0.935354
5351,0.968858,0.991348,0.997111,0.972852,1.000000,0.997287,0.975104,0.991797,0.904745,0.973595,...,0.988626,0.972026,0.937183,0.995982,0.905581,0.997866,0.995575,0.997508,0.994141,0.860820
5353,0.976346,0.995960,0.996142,0.974023,0.997287,1.000000,0.976843,0.996679,0.900402,0.969863,...,0.992079,0.985854,0.931524,0.998241,0.900982,0.997006,0.993072,0.996457,0.993202,0.856584
5354,0.972034,0.987272,0.983915,0.998786,0.975104,0.976843,1.000000,0.975135,0.948754,0.936375,...,0.984188,0.967767,0.970014,0.969271,0.954264,0.981555,0.988800,0.985646,0.964141,0.926789
5360,0.985999,0.993036,0.990085,0.970465,0.991797,0.996679,0.975135,1.000000,0.890466,0.971382,...,0.984856,0.984339,0.923046,0.997304,0.889606,0.989616,0.986636,0.992323,0.985215,0.843174
5366,0.860682,0.904596,0.905854,0.955885,0.904745,0.900402,0.948754,0.890466,1.000000,0.904704,...,0.940084,0.874313,0.995448,0.894388,0.998586,0.917196,0.920238,0.910376,0.903549,0.992195
5368,0.927684,0.949314,0.955953,0.933951,0.973595,0.969863,0.936375,0.971382,0.904704,1.000000,...,0.963409,0.927345,0.930590,0.980091,0.893846,0.965007,0.955480,0.962316,0.970990,0.846804

## PCA for dimensionality reduction

It is shown in Question-2 under the heading "Dimensionality reduction using PCA"

# QUESTION-2

We have used recipe tags to create a item-tag feature matrix.

### A.) Using 1-hot encoding

In [214]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
model = cv.fit_transform(recipe_df['tags'].to_list())
columns = [x for x in cv.get_feature_names()]
res = pd.DataFrame(model.toarray(), columns = columns, index = recipe_df.index)
recipe_df = pd.concat([recipe_df,res],axis=1)

/Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [215]:
feature_names = cv.get_feature_names()
feature_names

['15',
 '30',
 '60',
 'a1',
 'african',
 'ahead',
 'alcoholic',
 'american',
 'amish',
 'and',
 'angolan',
 'appetizers',
 'apples',
 'appliance',
 'april',
 'arabian',
 'argentine',
 'artichoke',
 'ashkenazi',
 'asian',
 'asparagus',
 'australian',
 'austrian',
 'avocado',
 'baby',
 'bacon',
 'bag',
 'baja',
 'baked',
 'baking',
 'bananas',
 'bar',
 'barbecue',
 'barley',
 'bass',
 'bath',
 'bean',
 'beans',
 'bear',
 'beef',
 'beginner',
 'beijing',
 'belgian',
 'berries',
 'beverages',
 'birthday',
 'biscotti',
 'biscuits',
 'bisques',
 'black',
 'blender',
 'blueberries',
 'bok',
 'bowl',
 'brazilian',
 'bread',
 'breads',
 'breakfast',
 'breasts',
 'brewing',
 'british',
 'broccoli',
 'broil',
 'brown',
 'brownies',
 'brunch',
 'burgers',
 'butter',
 'cabbage',
 'cajun',
 'cake',
 'cakes',
 'calcium',
 'californian',
 'calorie',
 'cambodian',
 'camping',
 'canadian',
 'candy',
 'canning',
 'cantonese',
 'carb',
 'carbs',
 'caribbean',
 'carnival',
 'carrots',
 'casseroles',
 'catfish',
 'cauliflower',
 'celebrity',
 'central',
 'chard',
 'cheese',
 'cheesecake',
 'cherries',
 'chick',
 'chicken',
 'chilean',
 'chili',
 'chinese',
 'chip',
 'chocolate',
 'cholesterol',
 'chops',
 'chowders',
 'choys',
 'christmas',
 'chutneys',
 'cinco',
 'citrus',
 'clams',
 'clear',
 'cobblers',
 'cocktails',
 'coconut',
 'cod',
 'coffee',
 'cold',
 'collard',
 'college',
 'colombian',
 'columbian',
 'com',
 'comfort',
 'condiments',
 'congolese',
 'contest',
 'cook',
 'cooker',
 'cookies',
 'cooking',
 'copycat',
 'corn',
 'costa',
 'course',
 'crab',
 'cranberry',
 'crawfish',
 'cream',
 'creole',
 'crisps',
 'crock',
 'crusts',
 'cuban',
 'cuisine',
 'cupcakes',
 'curries',
 'czech',
 'dairy',
 'danish',
 'day',
 'de',
 'deep',
 'deer',
 'dehydrator',
 'desserts',
 'diabetic',
 'dietary',
 'dinner',
 'dips',
 'dish',
 'dishes',
 'dough',
 'dressings',
 'drop',
 'duck',
 'dutch',
 'easter',
 'eastern',
 'easy',
 'ecuadorean',
 'egg',
 'eggplant',
 'eggs',
 'egyptian',
 'elbow',
 'elk',
 'english',
 'equipment',
 'etc',
 'ethiopian',
 'european',
 'event',
 'fall',
 'fat',
 'fathers',
 'fiber',
 'fiesta',
 'filipino',
 'fillings',
 'finger',
 'finnish',
 'fish',
 'flat',
 'flounder',
 'food',
 'fools',
 'for',
 'formed',
 'free',
 'freezer',
 'french',
 'freshwater',
 'friendly',
 'frittatas',
 'from',
 'frostings',
 'frozen',
 'fruit',
 'fry',
 'fudge',
 'game',
 'garbanzos',
 'garnishes',
 'gelatin',
 'georgian',
 'german',
 'gifts',
 'gluten',
 'go',
 'goose',
 'grain',
 'grains',
 'granola',
 'grapes',
 'gras',
 'greek',
 'green',
 'greens',
 'grilling',
 'ground',
 'groups',
 'guatemalan',
 'gumbo',
 'halibut',
 'halloween',
 'ham',
 'hand',
 'hanukkah',
 'hashana',
 'hashanah',
 'hawaiian',
 'healthy',
 'heirloom',
 'herb',
 'hidden',
 'high',
 'historical',
 'holiday',
 'honduran',
 'hot',
 'hours',
 'hunan',
 'hungarian',
 'ice',
 'icelandic',
 'in',
 'independence',
 'indian',
 'indonesian',
 'inexpensive',
 'infant',
 'ingredient',
 'ingredients',
 'iranian',
 'iraqi',
 'irish',
 'italian',
 'jams',
 'japanese',
 'jellies',
 'jewish',
 'kid',
 'kidney',
 'kiwifruit',
 'korean',
 'kosher',
 'kwanzaa',
 'labor',
 'lactose',
 'lamb',
 'laotian',
 'large',
 'lasagna',
 'lasagne',
 'lebanese',
 'leftovers',
 'legs',
 'lemon',
 'lentils',
 'less',
 'less_thansql',
 'lettuces',
 'libyan',
 'lime',
 'liver',
 'livers',
 'lobster',
 'loin',
 'loins',
 'long',
 'low',
 'lunch',
 'macaroni',
 'machine',
 'mahi',
 'main',
 'make',
 'malaysian',
 'mango',
 'manicotti',
 'mardi',
 'marinades',
 'marinara',
 'mashed',
 'mayo',
 'meal',
 'meat',
 'meatballs',
 'meatloaf',
 'meats',
 'medium',
 'melanesia',
 'melons',
 'memorial',
 'mennonite',
 'mex',
 'mexican',
 'micro',
 'microwave',
 'middle',
 'midwestern',
 'minutes',
 'mixer',
 'mixes',
 'mongolian',
 'mood',
 'moose',
 'more',
 'moroccan',
 'mothers',
 'mousses',
 'muffins',
 'mushroom',
 'mushrooms',
 'mussels',
 'name_topics_of_recipegreater_than',
 'namibian',
 'native',
 'nepalese',
 'new',
 'nigerian',
 'no',
 'non',
 'north',
 'northeastern',
 'northwest',
 'norwegian',
 'novelty',
 'number',
 'nut',
 'nuts',
 'oamc',
 'oatmeal',
 'oaxacan',
 'occasion',
 'octopus',
 'of',
 'omelets',
 'one',
 'onions',
 'ontario',
 'or',
 'orange',
 'oranges',
 'organ',
 'oven',
 'oysters',
 'pacific',
 'pakistani',
 'palestinian',
 'pancakes',
 'papaya',
 'party',
 'passover',
 'pasta',
 'pastry',
 'patricks',
 'peaches',
 'peanut',
 'pears',
 'peas',
 'penne',
 'pennsylvania',
 'peppers',
 'perch',
 'persian',
 'peruvian',
 'pheasant',
 'pickeral',
 'picnic',
 'pie',
 'pies',
 'pineapple',
 'pitted',
 'pizza',
 'plums',
 'polish',
 'polynesian',
 'pork',
 'porridge',
 'portuguese',
 'pot',
 'potatoes',
 'potatoes2',
 'potluck',
 'poultry',
 'preparation',
 'prepared',
 'presentation',
 'preserves',
 'pressure',
 'processor',
 'protein',
 'pudding',
 'puddings',
 'puerto',
 'pumpkin',
 'punch',
 'quail',
 'quebec',
 'quiche',
 'quick',
 'rabbit',
 'ragu',
 'ramadan',
 'ranch',
 'raspberries',
 'ravioli',
 'recipe',
 'recipes',
 'refrigerator',
 'reynolds',
 'ribs',
 'rican',
 'rice',
 'roast',
 'rolled',
 'rolls',
 'romantic',
 'rosh',
 'roughy',
 'rubs',
 'russian',
 'salad',
 'salads',
 'salmon',
 'salsas',
 'saltwater',
 'sandwiches',
 'saturated',
 'sauce',
 'sauces',
 'saudi',
 'sausage',
 'savory',
 'scallops',
 'scandinavian',
 'scones',
 'scottish',
 'scratch',
 'seafood',
 'seasonal',
 'sephardi',
 'served',
 'servings',
 'shakes',
 'shapes',
 'sheep',
 'shell',
 'shellfish',
 'shells',
 'short',
 'shrimp',
 'side',
 'simply',
 'slow',
 'small',
 'smoker',
 'smoothies',
 'snacks',
 'sodium',
 'sole',
 'somalian',
 'something',
 'sopaipillas',
 'soul',
 'soup',
 'soups',
 'sourdough',
 'south',
 'southern',
 'southwestern',
 'soy',
 'spaghetti',
 'spanish',
 'spice',
 'spicy',
 'spinach',
 'spreads',
 'spring',
 'squash',
 'squid',
 'st',
 'states',
 'steak',
 'steaks',
 'steam',
 'steps',
 'stew',
 'stews',
 'stir',
 'stocks',
 'stove',
 'strawberries',
 'stuffings',
 'sudanese',
 'sugar',
 'summer',
 'super',
 'superbowl',
 'swedish',
 'sweet',
 'swiss',
 'szechuan',
 'tarts',
 'taste',
 'technique',
 'tempeh',
 'tex',
 'thai',
 'thanksgiving',
 'the',
 'thighs',
 'this',
 'throw',
 'tilapia',
 'time',
 'to',
 'toddler',
 'tofu',
 'tomatoes',
 'top',
 'tortellini',
 'tropical',
 'trout',
 'tuna',
 'turkey',
 'turkish',
 'ultimate',
 'united',
 'unprocessed',
 'valentines',
 'valley',
 'veal',
 'vegan',
 'vegetables',
 'vegetarian',
 'veggie',
 'venezuelan',
 'very',
 'vietnamese',
 'waffles',
 'water',
 'wedding',
 'weeknight',
 'welsh',
 'west',
 'white',
 'whitefish',
 'whole',
 'wild',
 'wings',
 'winter',
 'with',
 'wrap',
 'yams',
 'year',
 'years',
 'yeast',
 'yellow',
 'zealand',
 'zucchini']

In [216]:
len(feature_names)

593

In [217]:
recipe_df.shape

(231637, 607)

In [218]:
item_tag_mat = recipe_df.pivot_table(columns='id',values=feature_names)
item_tag_mat

id,38,39,40,41,43,45,46,48,49,50,...,537323,537331,537351,537429,537458,537459,537485,537543,537671,537716
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
a1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
african,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
years,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yeast,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zealand,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zucchini,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [219]:
smaller_it_mat = item_tag_mat.iloc[:, 2000:3000].T
smaller_it_mat.shape

(1000, 596)

In [220]:
smaller_it_mat

,15,30,60,a1,african,ahead,alcoholic,american,amish,and,...,winter,with,wrap,yams,year,years,yeast,yellow,zealand,zucchini
id,,,,,,,,,,,,,,,,,,,,,
5346,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5347,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5348,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5349,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5351,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8371,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8374,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8377,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8379,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8380,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [221]:
selected_recipe_id = smaller_it_mat.index
selected_recipe_id

Int64Index([5346, 5347, 5348, 5349, 5351, 5353, 5354, 5360, 5366, 5368,
            ...
            8364, 8366, 8368, 8369, 8370, 8371, 8374, 8377, 8379, 8380],
           dtype='int64', name='id', length=1000)

## Dimesionality reduction using PCA

To reduce the dimension size to 10 in case of item-tag feature matrix.

In [222]:
from sklearn.decomposition import PCA

pca = PCA(n_components=10)
smaller_it_mat_reduced = pca.fit_transform(smaller_it_mat)

In [223]:
smaller_it_mat_reduced.shape

(1000, 10)

In [224]:
smaller_it_mat_reduced = pd.DataFrame(smaller_it_mat_reduced.T, columns = selected_recipe_id)
smaller_it_mat_reduced.head()

id,5346,5347,5348,5349,5351,5353,5354,5360,5366,5368,...,8364,8366,8368,8369,8370,8371,8374,8377,8379,8380
0,-75.507697,-69.083005,-68.867456,-60.249338,-83.369140,-65.976387,-30.278763,-71.003719,81.092632,-56.525839,...,-23.002440,-74.047683,25.815223,-71.562412,18.278564,15.352385,-74.741079,-80.234592,-81.144191,79.516732
1,4.716244,2.130568,32.648809,-24.520975,-22.766744,20.847183,-20.904901,2.213251,-28.471731,-16.708369,...,19.511971,4.098128,-36.578868,8.088840,-31.880009,78.265173,-27.576293,-22.823455,-20.462354,-33.423435
2,100.331577,3.480161,59.768040,-12.192080,-24.896254,1.740645,14.687459,9.594173,-21.931487,-25.541333,...,-9.458593,-7.764320,-22.155669,-6.383243,-23.609399,25.507278,-16.385312,-15.883855,-28.320106,-22.188906
3,2.708162,-1.809799,0.682504,5.791480,-1.885644,-1.651971,5.128746,0.401298,-1.762135,3.560777,...,-1.679903,-1.654381,1.620210,-1.822344,-1.799539,-1.634271,-1.648694,-1.741159,-1.654546,5.102846
4,0.074926,-0.896408,0.930680,-0.580658,0.858073,0.734145,-0.388946,-0.673001,0.520524,-0.262858,...,-0.455248,0.700805,-1.086122,-0.665801,0.490926,1.957919,0.688148,-0.343009,-0.443199,-0.690648

In [225]:
smaller_it_mat_reduced.shape

(10, 1000)

## Creating user-feature matrix

In [226]:
smaller_ui_interaction_df = ui_interaction_df[ui_interaction_df['recipe_id'].isin(selected_recipe_id)]

In [227]:
smaller_ui_interaction_df.head(10)

,user_id,recipe_id,date,rating,review
2086,55729,6921,2004-05-16,4,I used legs (drumsticks) for this recipe. A go...
2281,300855,7390,2006-04-30,5,I love this recipe! Excellent spice mix! Nex...
2282,358304,7390,2007-06-03,5,Great recipe! It took a bit of preparation but...
2283,591035,7390,2007-10-06,3,This didn't have the right flavor for me. I al...
2284,936998,7390,2008-08-28,5,This was so good! I made a couple of changes s...
2285,1246600,7390,2009-05-28,5,Our house LOVES this!! Although we find it a ...
2286,1041521,7390,2009-07-25,4,This was a very good recipe. It tasted a bit ...
2287,1333781,7390,2011-01-16,2,I omitted the cauliflower and peas; otherwise ...
3312,678857,8170,2009-07-11,5,This delicious marinade provided us with moist...
3869,2625,7379,2001-05-24,0,Weird. This reminds me of Buster Douglas. \r\...

In [228]:
distinct_users = smaller_ui_interaction_df['user_id'].unique()
len(distinct_users)

3588

In [229]:
user_mat = dict()
for user in distinct_users:
    vector = np.array([0]*10)
    temp_ds = smaller_ui_interaction_df[smaller_ui_interaction_df['user_id']==user]
    unique_recipes = temp_ds[temp_ds['rating'] >= 4]['recipe_id'].unique()
    for recipe in unique_recipes:
        temp = smaller_it_mat_reduced[recipe]
        vector = vector+temp
    user_mat[user] = vector

In [230]:
len(user_mat)

3588

In [231]:
smaller_ut_mat_reduced = pd.DataFrame(user_mat)
smaller_ut_mat_reduced.head(10)

,55729,300855,358304,591035,936998,1246600,1041521,1333781,678857,2625,...,306658,147145,391008,587965,339245,166548,2000460111,156783,178362,333959
0,-442.483939,-46.511647,-46.511647,0,-46.511647,-46.511647,-46.511647,0,-96.512364,0,...,167.442479,0,167.442479,167.442479,167.442479,0,167.442479,41.449102,41.449102,25.815223
1,13.456605,-18.394415,-18.394415,0,-18.394415,-18.394415,-18.394415,0,75.993364,0,...,-49.075020,0,-49.075020,-49.075020,-49.075020,0,-49.075020,-25.791565,-25.791565,-36.578868
2,249.025964,-15.501261,-15.501261,0,-15.501261,-15.501261,-15.501261,0,28.901634,0,...,-13.504579,0,-13.504579,-13.504579,-13.504579,0,-13.504579,1.115124,1.115124,-22.155669
3,2.797915,-1.755336,-1.755336,0,-1.755336,-1.755336,-1.755336,0,6.645247,0,...,-1.700898,0,-1.700898,-1.700898,-1.700898,0,-1.700898,4.125718,4.125718,1.620210
4,1.257912,-1.025425,-1.025425,0,-1.025425,-1.025425,-1.025425,0,-0.510115,0,...,-0.683066,0,-0.683066,-0.683066,-0.683066,0,-0.683066,-0.911541,-0.911541,-1.086122
5,1.490002,0.439312,0.439312,0,0.439312,0.439312,0.439312,0,-0.291096,0,...,-0.408140,0,-0.408140,-0.408140,-0.408140,0,-0.408140,0.202574,0.202574,-1.889046
6,-4.292922,-0.003863,-0.003863,0,-0.003863,-0.003863,-0.003863,0,-1.131365,0,...,0.190641,0,0.190641,0.190641,0.190641,0,0.190641,-0.177137,-0.177137,0.344150
7,2.941973,0.284293,0.284293,0,0.284293,0.284293,0.284293,0,1.291719,0,...,-0.235374,0,-0.235374,-0.235374,-0.235374,0,-0.235374,-0.488022,-0.488022,-0.012256
8,2.546507,-0.852180,-0.852180,0,-0.852180,-0.852180,-0.852180,0,-1.854398,0,...,0.321660,0,0.321660,0.321660,0.321660,0,0.321660,-0.712343,-0.712343,1.360670
9,-1.346898,1.841627,1.841627,0,1.841627,1.841627,1.841627,0,-0.463290,0,...,0.345250,0,0.345250,0.345250,0.345250,0,0.345250,0.763937,0.763937,1.262811

In [232]:
smaller_ut_mat_reduced.shape

(10, 3588)

In [233]:
smaller_ut_mat_reduced = smaller_ut_mat_reduced.loc[:, (smaller_ut_mat_reduced != 0).any(axis=0)]

In [234]:
smaller_ut_mat_reduced.head()

,55729,300855,358304,936998,1246600,1041521,678857,334010,212497,88099,...,896949,42251,306658,391008,587965,339245,2000460111,156783,178362,333959
0,-442.483939,-46.511647,-46.511647,-46.511647,-46.511647,-46.511647,-96.512364,-78.182675,-176.995045,-317.774823,...,-65.273562,167.442479,167.442479,167.442479,167.442479,167.442479,167.442479,41.449102,41.449102,25.815223
1,13.456605,-18.394415,-18.394415,-18.394415,-18.394415,-18.394415,75.993364,-16.051839,-59.194994,-9.767433,...,17.501839,-49.075020,-49.075020,-49.075020,-49.075020,-49.075020,-49.075020,-25.791565,-25.791565,-36.578868
2,249.025964,-15.501261,-15.501261,-15.501261,-15.501261,-15.501261,28.901634,4.322610,44.150601,73.036067,...,7.245507,-13.504579,-13.504579,-13.504579,-13.504579,-13.504579,-13.504579,1.115124,1.115124,-22.155669
3,2.797915,-1.755336,-1.755336,-1.755336,-1.755336,-1.755336,6.645247,1.765667,7.513911,-5.107619,...,-1.669906,-1.700898,-1.700898,-1.700898,-1.700898,-1.700898,-1.700898,4.125718,4.125718,1.620210
4,1.257912,-1.025425,-1.025425,-1.025425,-1.025425,-1.025425,-0.510115,-0.575854,-1.811534,1.498512,...,-0.292528,-0.683066,-0.683066,-0.683066,-0.683066,-0.683066,-0.683066,-0.911541,-0.911541,-1.086122

In [235]:
smaller_ut_mat_reduced.shape

(10, 3089)

## Creating Similarity Matrix

In [236]:
distinct_users = smaller_ut_mat_reduced.columns

In [237]:
similarity_matrix = []
for user in distinct_users[:2]:
    similar = smaller_it_mat_reduced.corrwith(smaller_ut_mat_reduced[user])
    similarity_matrix.append(similar)

In [238]:
type(similarity_matrix[0])

pandas.core.series.Series

In [239]:
similarity_matrix[0]

id
5346    0.935589
5347    0.904976
5348    0.947020
5349    0.715223
5351    0.692374
          ...
8371    0.070189
8374    0.728590
8377    0.761555
8379    0.668785
8380   -0.906949
Length: 1000, dtype: float64

In [240]:
len(similarity_matrix)

2

In [241]:
len(distinct_users)

3089

# Recommending Predictions for users

### A.) Creating the recommended recipe matrix

In [242]:
K = [5,10, 15, 20, 25]
rec_recipe_mat = []
rec_recipe_sim_score_mat = []
for i in range(len(distinct_users[:2])):
    corr = pd.DataFrame(similarity_matrix[i], columns = ['Correlation'])
    corr.dropna(inplace=True)
    temp_rec_df = corr[corr['Correlation'] > 0.80].sort_values(by = 'Correlation',ascending=False).head(25)
    
    rec_recipe_id = list(temp_rec_df.index)
    rec_recipe_sim_score = list(temp_rec_df.Correlation)
    
#     print(rec_recipe_id)

    rec_recipe_mat.append(rec_recipe_id)
    rec_recipe_sim_score_mat.append(rec_recipe_sim_score)

### B.) Recommending recipes to users using ids

##### NOTE - I have printed recommendations for only 2 users to make it mode readable. Although just by removing the condition in for loop, we can print for all users as well.

In [243]:
for i in range(len(distinct_users[0:2])):
    print()
    print('Recommended recipes with similarity score for user with user_id {} are :'.format(distinct_users[i]))
    print()
    for j in range(len(rec_recipe_mat[i])):
        rec_id = rec_recipe_mat[i][j]
        sim_print_value = rec_recipe_sim_score_mat[i][j]
        print(str(recipe_df[recipe_df['id'] == rec_id]['name'].values[0])+str('------------>')+str(sim_print_value) )
    print('==============================================================================')

Recommended recipes with similarity score for user with user_id 55729 are :

steak and cheese------------>0.9982424711011587
devil s steak------------>0.9982244844615366
ground beef curry delight------------>0.9962216204341361
quick beef gravy------------>0.9952458668644876
shrimp in a light curry sauce------------>0.9952146468547903
mushroom stuffed flank steak------------>0.9950689651752668
chicken breasts with spicy rub------------>0.9949770722585205
florida red snapper------------>0.992918584630991
chicken thighs marengo------------>0.9923792952099607
chicken and mushroom soup------------>0.9921954802230293
mean chef s grilled swordfish with barbecue sauce------------>0.9910593295083754
one dish chicken bake with vegetables  2------------>0.9902406348731125
vindaloo  goan style hot and sour pork------------>0.9900248755307518
german stuffed veal breast------------>0.9892953482594719
solo baked chicken breast and lemon rice------------>0.9892696977879667
cajun meatloaf------------>0.9892360258006099
glazed pork loin roast------------>0.9882886918752035
meatloaf tropicale------------>0.9882026901498665
sour cream burgers------------>0.988178748097924
spooned up meatloaf------------>0.987295274870157
baked catfish fillets with horseradish sauce------------>0.9866192025952394
savory braised short ribs------------>0.98633244523445
chicken with mustard and wine sauce  adopted------------>0.9863148783654206
barvarian veal------------>0.9860539350952915
company beef oriental------------>0.9851887479643785
==============================================================================

Recommended recipes with similarity score for user with user_id 300855 are :

vegetable biryani------------>1.0
zucchini   tomato casserole------------>0.9988535455424665
spinach------------>0.9985464317775575
french cheesecake------------>0.9981352227954402
cawl cennin a hufen   welsh cream of leek soup------------>0.9977206480628843
lemon asparagus and carrots------------>0.9976383305206175
harvest time meatballs------------>0.9974175214684743
vegetable korma curry------------>0.9973503190016851
cream cheese crosses  icing for hot cross buns------------>0.9972515457970045
pork scallops with lemon and herbs------------>0.9971127217762513
oven bag rump roast------------>0.9970739206011917
hummus  2------------>0.9967152142280337
green beans with fresh dill------------>0.9966794680739194
peanut butter chip cookies------------>0.9966573934829719
schnittbohnensalat  green bean salad------------>0.9964574223634596
garlic mayonnaise dip------------>0.996348823419026
english digestive biscuits------------>0.9962406313283559
baby shrimp and tarragon mustard------------>0.9961329850133903
cayenne mayonnaise dip------------>0.9961105934050262
curry dip ii------------>0.9960498134231874
poppy seed oatmeal bread------------>0.9960386860118287
easy dinner party marinated mushrooms------------>0.9959815647704264
beef liver in mustard sauce------------>0.9958480033678316
apple fritters------------>0.9958463753923117
brownie cookies------------>0.9957028114076917
==============================================================================

### C.) Cross-varifying the results

In [244]:
distinct_users

Int64Index([     55729,     300855,     358304,     936998,    1246600,
               1041521,     678857,     334010,     212497,      88099,
            ...
                896949,      42251,     306658,     391008,     587965,
                339245, 2000460111,     156783,     178362,     333959],
           dtype='int64', length=3089)

In [245]:
rec_recipe_mat[0]

[7272,
 6939,
 8085,
 5435,
 6578,
 8334,
 8339,
 7747,
 7690,
 7455,
 7774,
 7209,
 6574,
 7138,
 5450,
 6548,
 7763,
 8108,
 6817,
 8106,
 7609,
 6505,
 7691,
 7621,
 8080]

In [246]:
recipe_df[recipe_df['id'] == 7272]['name'].values[0]

'steak and cheese'

# Question-2 

## B.) Using Tf-Idf

In [247]:
small_interaction_df = ui_interaction_df.head(100)
small_interaction_df

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
...,...,...,...,...,...
95,456221,208980,2010-02-20,5,"This is a favorite here, too-- have made it se..."
96,229619,208980,2011-06-26,5,I was flipping through one of Rachael Ray's co...
97,280271,219118,2008-11-09,4,This is so yummy. Quick to prepare and can sim...
98,305531,219118,2008-12-17,4,Really good carrots! There were a great side d...
99,1320855,228530,2009-07-12,5,I found this recipe by searching for healthy I...

In [248]:
tfidf_dataset = small_interaction_df

### Pre-processing of user reviews

In [249]:
### Below 4 snippets only are written with help of a GFG article on tf-idf

import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
  
  
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
  
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
  
VERB_CODES = {'VB', 'VBD', 'VBG', 'VBN', 'VBP', 'VBZ'}

[nltk_data] Downloading package punkt to /Users/ambuj/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/ambuj/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /Users/ambuj/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/ambuj/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [250]:
def preprocess_sentences(text):
  text = text.lower()
  temp_sent =[]
  words = nltk.word_tokenize(text)
  tags = nltk.pos_tag(words)
  for i, word in enumerate(words):
      if tags[i][1] in VERB_CODES: 
          lemmatized = lemmatizer.lemmatize(word, 'v')
      else:
          lemmatized = lemmatizer.lemmatize(word)
      if lemmatized not in stop_words and lemmatized.isalpha():
          temp_sent.append(lemmatized)
          
  finalsent = ' '.join(temp_sent)
  finalsent = finalsent.replace("n't", " not")
  finalsent = finalsent.replace("'m", " am")
  finalsent = finalsent.replace("'s", " is")
  finalsent = finalsent.replace("'re", " are")
  finalsent = finalsent.replace("'ll", " will")
  finalsent = finalsent.replace("'ve", " have")
  finalsent = finalsent.replace("'d", " would")
  return finalsent
  
tfidf_dataset["processed_review"]= tfidf_dataset["review"].apply(preprocess_sentences)
tfidf_dataset.head()

/var/folders/kl/55tfkryd5vs0fjm2fnv6vd140000gn/T/ipykernel_64860/2398826422.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tfidf_dataset["processed_review"]= tfidf_dataset["review"].apply(preprocess_sentences)

,user_id,recipe_id,date,rating,review,processed_review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...,great salad cook top stove shake cayenne pinch...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall...",simple delicious great chilly fall evening dou...
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...,work well easy use quite whole package white c...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...,make mexican topping take bunko everyone love
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin...",make cheddar bacon topping add sprinkling blac...

In [251]:
from sklearn.feature_extraction.text import TfidfVectorizer
  
# Vectorizing pre-processed movie plots using TF-IDF
tfidfvec = TfidfVectorizer()
review_vectors = tfidfvec.fit_transform((tfidf_dataset["processed_review"]))

In [252]:
# Finding cosine similarity between vectors
from sklearn.metrics.pairwise import cosine_similarity
cos_sim = cosine_similarity(review_vectors, review_vectors)

In [253]:
cos_sim.shape

(100, 100)

### Making recommendations for users

In [254]:
# Storing indices of the data
indices = pd.Series(tfidf_dataset.user_id)
  
def recommendations(title, cosine_sim = cos_sim):
    recommended_movies = []
    index = indices[indices == title].index[0]
    similarity_scores = pd.Series(cosine_sim[index]).sort_values(ascending = False)
    top_10_movies = list(similarity_scores.iloc[1:11].index)
    for i in top_10_movies:
        recommended_movies.append(list(tfidf_dataset.index)[i])
    return recommended_movies

In [255]:
user_value = 38094
tfidf_selected_recipes = recommendations(user_value)

In [256]:
tfidf_selected_recipe_id = tfidf_dataset.loc[tfidf_selected_recipes]['recipe_id'].drop_duplicates()

In [257]:
index_for_sim_col = list(tfidf_selected_recipe_id.index)
print(index_for_sim_col)
tfidf_selected_recipe_value = tfidf_selected_recipe_id.values
print(tfidf_selected_recipe_value)

[22, 45, 86, 42]
[225241  79222 195132  60656]

In [258]:
user_row_number = tfidf_dataset[tfidf_dataset['user_id'] == user_value].drop_duplicates().index[0]
print('Index value for user with user_id {} is : {}'.format(user_value, user_row_number))

Index value for user with user_id 38094 is : 0

In [259]:
print(cos_sim[0][22])
print(cos_sim[0][45])
print(cos_sim[0][86])
print(cos_sim[0][42])

0.18026575165992728
0.1374940350249696
0.09921894826027663
0.09889677888388686

In [260]:
print('Recommendations for user with user id {} are :'.format(user_value))
print()
for i in range(len(tfidf_selected_recipe_value)):
    rec_id = tfidf_selected_recipe_value[i]
    tfidf_sim_score_value = cos_sim[user_row_number][index_for_sim_col[i]]
    print(str(recipe_df[recipe_df['id'] == rec_id]['name'].values[0])+'------>'+str(tfidf_sim_score_value) )
print('====================================================================')

Recommendations for user with user id 38094 are :

chicken tamale pie for 2  ww core------>0.18026575165992728
potato crab chowder------>0.1374940350249696
cherry pound cake------>0.09921894826027663
crock pot italian zucchini------>0.09889677888388686
====================================================================

# Question-2 

## C). Using neural embedding (BERT)

In [261]:
!pip install sentence-transformers

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)
Requirement already satisfied: sentence-transformers in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (2.2.0)
Requirement already satisfied: numpy in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sentence-transformers) (1.21.2)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sentence-transformers) (4.17.0)
Requirement already satisfied: sentencepiece in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sentence-transformers) (0.1.96)
Requirement already satisfied: torch>=1.6.0 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sentence-transformers) (1.11.0)
Requirement already satisfied: tqdm in /Users/ambuj/.local/lib/python3.8/site-packages (from sentence-transformers) (4.62.3)
Requirement already satisfied: scikit-learn in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sentence-transformers) (1.0.2)
Requirement already satisfied: huggingface-hub in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sentence-transformers) (0.4.0)
Requirement already satisfied: torchvision in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sentence-transformers) (0.12.0)
Requirement already satisfied: nltk in /Users/ambuj/.local/lib/python3.8/site-packages (from sentence-transformers) (3.6.5)
Requirement already satisfied: scipy in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sentence-transformers) (1.7.1)
Requirement already satisfied: typing-extensions in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from torch>=1.6.0->sentence-transformers) (4.1.1)
Requirement already satisfied: regex!=2019.12.17 in /Users/ambuj/.local/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2021.11.10)
Requirement already satisfied: tokenizers!=0.11.3,>=0.11.1 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.11.6)
Requirement already satisfied: packaging>=20.0 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (21.3)
Requirement already satisfied: pyyaml>=5.1 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (6.0)
Requirement already satisfied: filelock in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (3.6.0)
Requirement already satisfied: requests in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2.26.0)
Requirement already satisfied: sacremoses in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.0.47)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from packaging>=20.0->transformers<5.0.0,>=4.6.0->sentence-transformers) (3.0.7)
Requirement already satisfied: joblib in /Users/ambuj/.local/lib/python3.8/site-packages (from nltk->sentence-transformers) (1.1.0)
Requirement already satisfied: click in /Users/ambuj/.local/lib/python3.8/site-packages (from nltk->sentence-transformers) (8.0.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.26.6)
Requirement already satisfied: idna<4,>=2.5 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from requests->transformers<5.0.0,>=4.6.0->sentence-transformers) (2.0.6)
Requirement already satisfied: six in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from sacremoses->transformers<5.0.0,>=4.6.0->sentence-transformers) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /Users/ambuj/opt/anaconda3/envs/scrapping/lib/python3.8/site-packages (from torchvision->sentence-transformers) (9.0.1)

### User reviews vectorization using BERT and applying dimensionality reduction on that

In [262]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('bert-base-nli-mean-tokens')

In [263]:
sentences = small_interaction_df['review'].to_list()
sentence_embeddings = model.encode(sentences)

In [264]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)

In [265]:
sentence_embeddings_reduced = pca.fit_transform(sentence_embeddings)
sentence_embeddings_reduced.shape

(100, 10)

In [266]:
sentence_embeddings_reduced = pd.DataFrame(sentence_embeddings_reduced)
small_interaction_df = pd.concat([small_interaction_df,sentence_embeddings_reduced],axis=1)
small_interaction_df.head()

,user_id,recipe_id,date,rating,review,processed_review,0,1,2,3,4,5,6,7,8,9
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...,great salad cook top stove shake cayenne pinch...,-2.637032,-1.264601,0.771022,2.164317,0.489693,3.685291,1.822269,-1.864615,-0.963572,-3.200654
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall...",simple delicious great chilly fall evening dou...,-0.143189,5.919906,-2.290788,-0.400081,-0.764340,-0.277866,1.013908,-0.664690,0.305783,0.575153
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...,work well easy use quite whole package white c...,5.545578,5.237216,1.182424,-2.494464,-2.900314,6.534897,1.365408,1.613361,-3.500968,-0.700456
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...,make mexican topping take bunko everyone love,3.822092,-1.491567,-3.527768,3.389956,-1.578213,0.021007,-3.763131,1.353488,0.593731,-3.252514
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin...",make cheddar bacon topping add sprinkling blac...,-1.611317,-3.217188,2.864273,0.110644,5.765406,0.140020,-1.744217,1.256833,-1.774392,-2.005051

In [267]:
bert_user_mat = small_interaction_df.pivot_table(columns='user_id',values=[0,1,2,3,4,5,6,7,8,9])
bert_user_mat

user_id,5060,6258,8937,9580,37722,38094,49304,52282,52476,56680,...,1874846,2042100,2854176,1802624639,1802697284,1802811100,2000049093,2000192946,2002068522,2002097693
0,-0.407844,-1.941933,5.545578,-0.685820,-4.318573,-2.637032,0.706220,-2.556021,-3.142620,-1.563054,...,-4.809949,0.169710,2.312528,-3.376315,0.170348,0.730789,-1.919000,-2.365201,16.160088,-1.238693
1,4.039685,0.028922,5.237216,-0.806082,-0.418439,-1.264601,-1.905000,3.994354,-1.748590,-0.506135,...,2.471248,2.696209,-2.177095,-0.011725,-2.959179,0.413915,-3.574147,6.304709,-0.534782,-2.846812
2,-3.002661,-0.936932,1.182424,0.849086,-0.096382,0.771022,-0.585092,-4.973588,-0.607429,1.295041,...,2.384569,-3.519691,1.949679,-0.543183,1.010938,-1.108433,0.186163,0.148142,0.364837,7.177485
3,-3.619716,-1.699041,-2.494464,-0.154508,1.833082,2.164317,-1.924976,3.340635,3.306228,0.059330,...,2.230314,1.098073,-3.936772,-0.164705,-2.423817,-2.592795,0.384527,-1.389702,4.863826,6.721825
4,1.087203,0.100131,-2.900314,-3.287611,0.127691,0.489693,-3.432039,3.396015,-1.601179,-5.492783,...,-2.309550,-4.387860,-2.514619,-0.774184,2.717990,-1.071436,3.314966,0.125412,-0.549983,2.789025
5,-0.102702,-1.371261,6.534897,2.417772,0.712239,3.685291,-2.077909,1.131912,1.754918,2.464103,...,1.096371,3.187336,3.251742,0.791992,1.698569,0.170774,-0.946510,-2.230260,1.152856,1.313745
6,0.938713,0.790398,1.365408,0.977739,-2.735334,1.822269,3.499864,0.721144,-3.250602,1.582716,...,0.335052,0.610755,0.469228,0.456323,-0.719105,-2.488744,-0.042145,-0.049906,-1.804196,1.266475
7,-2.692211,-0.422058,1.613361,1.161460,-0.564391,-1.864615,-0.884665,-2.966431,-0.314137,-3.651913,...,0.877281,-1.872571,1.468005,-1.200135,0.533829,0.753030,-2.348663,-2.325484,-0.055184,-1.576328
8,-2.337248,-1.428894,-3.500968,-0.652105,0.412028,-0.963572,-1.456409,0.052765,1.112015,1.099168,...,0.084047,-0.131626,-1.541826,2.789801,3.691573,4.412199,-2.004193,-0.930453,-0.500941,-0.171749
9,0.408785,-0.614170,-0.700456,-0.983385,-1.637270,-3.200654,-1.460913,0.679209,-2.607889,-1.834256,...,0.283367,0.256282,-0.258952,0.412442,-1.132562,1.606341,1.627398,1.170964,-0.451870,5.853254

In [268]:
bert_item_mat = small_interaction_df.pivot_table(columns='recipe_id',values=[0,1,2,3,4,5,6,7,8,9])
bert_item_mat

recipe_id,20930,29093,40893,41090,44394,60656,79222,85009,87750,120345,...,197160,200236,208980,219118,225241,228530,254596,306785,310237,321038
0,-2.226669,6.874666,-1.390111,0.450382,5.545578,5.670583,-1.901994,1.105388,1.221780,-2.670133,...,-3.055270,-3.764074,-1.150782,1.569986,-0.465924,-2.368227,1.977701,-2.130906,-0.407844,2.159296
1,0.112641,1.530914,2.327652,-0.513183,5.237216,-2.188866,-0.164443,-2.354378,-4.481481,5.940007,...,-1.794527,-1.108229,-2.722310,-4.196776,0.000203,2.147372,1.666654,-0.132115,4.039685,1.535279
2,-0.952563,-2.393146,-0.759883,-1.105308,1.182424,-0.075282,1.019756,-0.331747,-0.678113,-1.775101,...,0.832174,0.870197,0.136749,0.533566,0.813986,-0.746132,1.405871,-2.844896,-3.002661,-4.051846
3,-1.212247,1.670222,0.882118,-2.869219,-2.494464,1.063174,-0.377000,1.750300,-1.060948,1.224869,...,0.489617,1.453355,1.636889,-1.068355,-0.408089,-2.523788,0.128362,0.069343,-3.619716,-0.943146
4,0.560957,-1.913066,-0.137323,-0.067447,-2.900314,1.872901,0.738774,2.093597,2.101077,1.369928,...,-0.869355,0.704909,-1.093405,1.320562,-1.039599,0.128189,-0.565607,1.507469,1.087203,1.301699
5,-1.130362,2.105314,1.703712,-1.407648,6.534897,-4.093560,0.711785,0.080513,-0.458225,-0.705713,...,-1.186444,-0.944742,0.110144,-0.326823,-1.506562,-1.126336,-0.186023,-0.780516,-0.102702,0.953492
6,1.001742,0.632664,1.418088,-0.467678,1.365408,-1.867716,0.415766,-2.753674,-0.737467,0.349065,...,1.215917,0.291217,-0.700779,2.305524,0.079249,-1.176306,-1.426774,-1.584774,0.938713,1.140663
7,-0.143894,-0.172954,-1.264653,-0.646384,1.613361,0.438259,0.029411,1.305161,3.511281,-2.313257,...,0.321615,-1.412799,0.071751,1.160910,0.385209,0.563572,-0.828383,0.357253,-2.692211,1.146562
8,-0.862975,-0.021262,-0.328894,-1.352160,-3.500968,-3.266091,0.824452,-0.590330,-2.166662,0.128522,...,-0.851175,-1.452433,0.805622,0.036549,-0.649989,-0.370552,-0.544131,-1.167764,-2.337248,-1.190888
9,-0.967012,0.370883,-1.312750,-1.097426,-0.700456,-0.964485,-0.096149,-2.628782,1.028387,0.733589,...,0.433347,0.580077,0.506406,0.550896,1.079087,0.446885,-0.307827,0.959545,0.408785,-0.720450

In [269]:
bert_distinct_users = list(bert_user_mat.columns)
bert_distinct_recipes = list(bert_item_mat.columns)

print(len(bert_distinct_users))
print(len(bert_distinct_recipes))

99
28

### Creating similarity matrix

In [270]:
bert_similarity_matrix = []
for user in bert_distinct_users[:2]:
    similar = bert_item_mat.corrwith(bert_user_mat[user])
    bert_similarity_matrix.append(similar)

### Creating recommended recipe matrix

In [271]:
bert_rec_recipe_mat = []
bert_rec_recipe_sim_score_mat = []
for i in range(len(bert_distinct_users[:2])):
    corr = pd.DataFrame(bert_similarity_matrix[i], columns = ['Correlation'])
    corr.dropna(inplace=True)
    temp_rec_df = corr[corr['Correlation'] > 0.40].sort_values(by = 'Correlation',ascending=False).head(10)
    
    bert_rec_recipe_id = list(temp_rec_df.index)
    bert_rec_recipe_sim_score = list(temp_rec_df.Correlation)
    
#     print(rec_recipe_id)

    bert_rec_recipe_mat.append(bert_rec_recipe_id)
    bert_rec_recipe_sim_score_mat.append(bert_rec_recipe_sim_score)

### Recommending recipes to users

In [272]:
for i in range(len(bert_distinct_users[0:2])):
    print()
    print('Recommended recipes with similarity score for user with user_id {} are :'.format(bert_distinct_users[i]))
    print()
    for j in range(len(bert_rec_recipe_mat[i])):
        rec_id = bert_rec_recipe_mat[i][j]
        sim_print_value = bert_rec_recipe_sim_score_mat[i][j]
        print(str(recipe_df[recipe_df['id'] == rec_id]['name'].values[0])+str('------------>')+str(sim_print_value) )
    print('==============================================================================')

Recommended recipes with similarity score for user with user_id 5060 are :

french strawberry crepes------------>1.0
sugared raspberries------------>0.6731503483215113
watermelon martini------------>0.6391050912341063
hg s grab  n go breakfast cookies   weight watchers   2 points------------>0.5907901792418382
cherry pound cake------------>0.5696328328679476
bulgur and pumpkin pilaf------------>0.5604287279529787
black and white bean salad------------>0.5396325582572198
white bean   green chile pepper soup------------>0.4914900748274252
2 tomato pasta salad------------>0.44037668004140446
devilicious cookie cake delights------------>0.41361645249957263
==============================================================================

Recommended recipes with similarity score for user with user_id 6258 are :

2 tomato pasta salad------------>0.945339227782365
bulgur and pumpkin pilaf------------>0.5810293052240119
french strawberry crepes------------>0.57552142796062
watermelon martini------------>0.45996779949839567
sugared raspberries------------>0.42593628042015663
==============================================================================

## NOTE-

#### Since we have used only 100 datapoints after keeping the computational power in mind to perform BERT. That is why the similarity scores are less for even top predictions. If we would take the overall data, predictions will show higher similarity values.

# Question-3

## Using KNN -

In [273]:
### Making processed dataset after performing the pre-processing on smaller selected dataset

tfidf_dataset = small_interaction_df   #### loading dataset
tfidf_dataset["processed_review"]= tfidf_dataset["review"].apply(preprocess_sentences)   #### Apply preprocessing
review_vectors = tfidfvec.fit_transform((tfidf_dataset["processed_review"]))  
cos_sim = cosine_similarity(review_vectors, review_vectors)   #### pre-computation of similarity scores

tfidf_distinct_users = tfidf_dataset['user_id'].unique()      #### saving distinct users
tfidf_distinct_recipes = tfidf_dataset['recipe_id'].unique()     #### saving distinct recipes

##### Function to print the recommendations

for k in range(len(tfidf_distinct_users[0:2])):
    user_value = tfidf_distinct_users[k]
    
    tfidf_selected_recipes = recommendations(user_value)    #### it will give only the index values
    tfidf_selected_recipe_id = tfidf_dataset.loc[tfidf_selected_recipes]['recipe_id'].drop_duplicates()   ###calculating recipe_id with the help of indexes
    
    index_for_sim_col = list(tfidf_selected_recipe_id.index)
    tfidf_selected_recipe_value = tfidf_selected_recipe_id.values
    
    user_row_number = tfidf_dataset[tfidf_dataset['user_id'] == user_value].drop_duplicates().index[0]
    
    print('Recommendations for user with user id {} are :'.format(user_value))
    print()
    for i in range(len(tfidf_selected_recipe_value)):
        rec_id = tfidf_selected_recipe_value[i]
        tfidf_sim_score_value = cos_sim[user_row_number][index_for_sim_col[i]]
        print(str(recipe_df[recipe_df['id'] == rec_id]['name'].values[0])+'------>'+str(tfidf_sim_score_value) )
    print('====================================================================')

Recommendations for user with user id 38094 are :

chicken tamale pie for 2  ww core------>0.18026575165992728
potato crab chowder------>0.1374940350249696
cherry pound cake------>0.09921894826027663
crock pot italian zucchini------>0.09889677888388686
====================================================================
Recommendations for user with user id 1293707 are :

potato crab chowder------>0.10108917347771587
lamb stew with tomatoes  chickpeas and spices------>0.09681305628241686
thanksgiving mashed potatoes------>0.07870889920267192
chicken parm meatball subs------>0.07633333470160342
apple apricot pork chops   crock pot------>0.0741338199978495
mexican hots------>0.07314246712662412
cherry pound cake------>0.07087330459630528
crab   fresh basil stuffed mushrooms------>0.06792261820411481
====================================================================

## NOTE-

#### 1.) Since we have used only 100 datapoints after keeping the computational power in mind to perform KNN based on user reviews to each recipes. That is why the similarity scores are less for even top predictions. If we would take the overall data, predictions will show higher similarity values.

#### 2.) In above snippet, while printing, we have only kept the loop limited to 2 users, but similarly we can increase it just by removing the list slicing used in for loop.

# Thank You!